@page
@model Devblog.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<body>
    <div>
        @Model.Message
    </div>
    <form method="post">
        <div class="form-group">
            <label asp-for="UserName" class="col-form-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="UserName" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-form-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Password" />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-md">Log in</button>
            <button class="btn btn-sm" type="button" data-bs-toggle="Modal" data-bs-target="#AccountModal">Create Account</button>
        </div>
    </form>

    <div class="modal fade" id="AccountModal" tabindex="-1" aria-labelledby="AccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AccountModalLabel">Create User Account</h1>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="FirstName" name="FirstName" class="col-7" required />
                    <input type="text" id="LastName" name="LastName" class="col-7" required />
                    <input type="number" id="Age" name="Age" class="col-7" required />
                    <input type="email" id="Mail" name="Mail" class="col-7" required />
                    <input type="text" id="City" name="City" class="col-7" required />
                    <input type="tel" id="PhoneNumber" name="PhoneNumber" class="col-7" />
                    <input type="password" id="ChosenPassword" name="ChosenPassword" class="col-7" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" asp-page-handler="CreateAccount">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>