body {
    font-family: Arial, sans-serif;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.toggle-slider {
    display: none;
}

.slider-label {
    width: 123px;
    height: 48px;
    background-color: #ccc;
    border-radius: 48px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .slider-label::after {
        content: '';
        width: 46px;
        height: 46px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: transform 0.3s;
    }

.toggle-slider:checked + .slider-label {
    background-color: #4caf50;
}

    .toggle-slider:checked + .slider-label::after {
        transform: translateX(75px);
    }

.content {
    display: none;
    margin: 20px;
}

    .content.hidden {
        display: none;
    }

    .content:not(.hidden) {
        display: block;
    }

.text-decoration-line-through {
    text-decoration: line-through;
    color: gray;
}

.soft-deleted {
    opacity: 0.5;
}